.btn {
  color: rgb(246, 154, 58);
  text-decoration: none;
  height: 6rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  padding: 1rem 2rem;
  transform: translateY(-10px);
  &:active {
    transform: translateY(0px);
  }

  &--clear {
    background-color: transparent;
    font-family: "Press Start 2P", cursive;
    color: black;
  }
}
