* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: black;
  max-width: 100rem;
  min-width: 100rem;
  min-height: 80rem;
  max-height: 80rem;
}
