.h1 {
  font-family: "Sigmar One", cursive;
  font-size: 15rem;
  line-height: 15rem;
  color: #0aabd7;

  &--duck {
    position: relative;
    padding-right: 10rem;

    &::after {
      content: "";
      height: 0.3rem;
      width: 100%;
      background-color: rgb(246, 154, 58);
      position: absolute;
      top: 100%;
      left: 0%;
    }
  }

  &--hunt {
    padding-left: 10rem;
  }
}
