.h1 {
  font-family: "Sigmar One", cursive;
  font-size: 10rem;
  color: #0aabd7;
}

.duck {
  position: relative;
  &::after {
    content: "";
    height: 0.5rem;
    width: 100%;
    background-color: rgb(246, 154, 58);
    position: absolute;
    top: 100%;
    left: 0%;
  }
}
