.bullet-img {
  width: 5rem;
  height: 5rem;
}
.hitDuck {
  background-color: white;
}

.game-screen {
  overflow: hidden;
  position: relative;
  cursor: crosshair;
  flex: 1;
  display: flex;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
  background-color: $color-blue;
  align-items: flex-end;
  z-index: 1;
  &__forground {
    background-image: url("../../IMAGES/Backround\ Front.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    clip-path: polygon(
      0% 100%,
      0% 57%,
      11% 56%,
      23% 30%,
      33% 26%,
      40% 37%,
      43% 48%,
      44% 58%,
      45% 66%,
      50% 66%,
      56% 65%,
      61% 66%,
      64% 58%,
      69% 57%,
      73% 59%,
      73% 66%,
      78% 68%,
      84% 66%,
      89% 68%,
      95% 69%,
      98% 58%,
      100% 58%,
      100% 72%,
      100% 81%,
      100% 89%,
      100% 100%
    );
  }
  &__hud {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: [shot-start]1fr [hit-start] 8fr [score-start] 2fr [score-end];
    font-size: 2.5rem;
    color: $color-green;
    z-index: 4;
    &--all {
      background-color: black;
      height: fit-content;
      border-radius: 2rem;
      border: solid 5px $color-green;
      padding: 1rem;
    }
    &--round {
      margin-top: auto;
      grid-row: 1/2;
      text-align: center;
    }
    &--shot {
      width: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-blue;
      grid-row: 2;
      grid-column-start: shot-start;
      padding: 1rem;
      margin: 1rem;
      &-imgs {
        display: flex;
        justify-content: center;
        height: 5rem;
        margin-bottom: 1rem;
      }
    }
    &--hit {
      display: grid;
      grid-template-rows: 2fr 2fr;
      grid-template-columns: 4fr repeat(10, 1fr);
      margin: auto 0;
      border-radius: 2rem;
      grid-row: 2;
      grid-column-start: hit-start;
    }
    &--score {
      margin: auto 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-radius: 2rem;
      color: $color-white-grey;
      grid-row: 2;
      grid-column-start: score-start;
    }
  }
  &__message-box {
    display: flex;
    position: absolute;
    width: 30rem;
    height: 10rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    font-size: 9rem;
  }
}
